@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,700");

*,
*::before,
*::after {
    box-sizing: border-box;
}

a { text-decoration: none; }

body {
    font-family: "Source Sans Pro", sans-serif;
}

.title {
    padding: 50px;
    padding-bottom: 100px;
    margin: 0;
    background: #f2f2f2;
    font-size: 48px;
    font-weight: 200;
    color: #919191;
    text-shadow: 0 1px 0 rgba(255,255,255,0.9);
}

/* =============================================================================
  An example of how stylize the tabs
============================================================================= */

/*.tabs {*/
    /*margin-top: -50px;*/
/*}*/

.tabs-navigation {
    padding: 0 50px;
}

.tabs-panel {
    padding: 50px;
}

.float-left{
    float: left;
}

.clear{
    clear: both;
}

.film-info-wrapper{
    margin-left: 15px;
}

.fade-appear {
    opacity: 0;
    transition: opacity .5s ease-in;
}

.fade-appear.fade-appear-active {
    opacity: 1;
}

.fade-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
    opacity: 0;
}

.pie-wrapper{
    width: 150px;
    height: 150px;
}

.legendColor{
    width: 25px;
    height: 25px;
    border-radius: 5px;
}

.legend-item{
   margin-left: 10px;
   margin-right: 10px;
}

.favorite{
    background-image: url(./../images/not-favorites.png);
    background-size: contain;
    width: 25px;
    height: 25px;
}

.favorite.full{
    background-image: url(./../images/in-favorites.png);
}

.spiner-block{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.8;
}

.spiner-block .spiner-image{
    opacity: 1;
    z-index: 100;
    position: fixed;
    top: 50%;
    left: 50%;
}

